<h1 class="text-center">Quotes Hub</h1>
<div class="container">
  <hr />
  <div class="row text-center">
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-6" >
      <div class="Quotes" class="card p-5">
        <h3 class="text-white text-center">Various Quotes:</h3>
        <div *ngFor="let quote of quotes; let i = index">
          <div class="card-header">
            <h3 appHighlight class="text-transparent">{{ quote.name }}</h3>
            <p>{{ quote.quote }}</p>
            <button
              (click)="toggleDetails(i)"
              class="btn btn-info"
              id="button1"
            >
              Show Details
            </button>
            <app-quote-details
              *ngIf="quote.showDetails"
              (click)="deleteQuote($event, i)"
              [quote]="quote"
            >
            </app-quote-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
