<p>Author: {{ quote.author }}</p>
<p>Person Submitted: {{ quote.personSubmitted }}</p>
<p>Quote: {{ quote.quote }}</p>
<div>
  Date: This quote was created in {{ quote.createdDate | dateCount }} days
</div>
<div class="votes">
  <span class="badge badge-pill badge-info up" (click)="upvotes()">
    👍 {{ quote.upvotes }}
  </span>
  <span class="badge badge-pill badge-danger down" (click)="downvotes()">
    👎 {{ quote.downvotes }}</span
  ><br /><br />
</div>
<hr />
<div class="col-md-12">
  <button
    class="badge badge-pill delete"
    (click)="quoteDelete(true)"
    class="btn btn-outline-danger"
  >
    Delete Quote
  </button>
</div>
