/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.home{
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-image: url("https://images.all-free-download.com/images/graphicthumb/sky_with_cloud_background_192378.jpg");
}
body{
  scroll-behavior: smooth;
}
