<div class="container-fluid">
  <h2 class=" text-white text-center">Create a new Quote</h2>
  <hr>
  <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
      <div class="form-group">

          <label for="quote">Quote</label>
          <input type="text" class="form-control" id="quote" [(ngModel)]="newQuote.quote" quote="quote" #quote='ngModel' required>
          <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
          
          </div>
      </div>
      <div class="form-group">

          <label for="author">Author</label>
          <textarea class="form-control" id="description" rows="4" [(ngModel)]="newAuthor.author" name="author" #author="ngModel" required></textarea>
          <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            
          </div>
      </div>
      <div class="form-group">

        <label for="personSubmitted"></label>
        <textarea class="form-control" id="personSubmitted" rows="4" [(ngModel)]="newPersonSubmitted.personSubmitted" name="author" #author="ngModel" required></textarea>
        <div [hidden]="personSubmitted.valid || personSubmitted.pristine" class="alert alert-danger">
          
        </div>
    </div>
      <div class="form-group">

          <label for="complete">Completion</label>
          <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
          <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
          </div>
      </div>
      <button type="submit" class="btn btn-success">Add Quote </button>
  </form>
</div>