<div class="card p-5">
  <h2 class=" text-black text-center">Create a new Quote</h2>
  <hr>
  <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
      <div class="form-group">

          <label for="quote">Quote</label>
          <input type="text" class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" quote="quote" #quote='ngModel' required>
          
      </div>
      <div class="form-group">

          <label for="author">Author</label>
          <textarea class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required></textarea>
          
      </div>
      <div class="form-group">

        <label for="personSubmitted">Person Submitted</label>
        <textarea class="form-control" id="personSubmitted" rows="4" [(ngModel)]="newQuote.personSubmitted" name="personSubmitted" #personSubmitted="ngModel" required></textarea>
        
    </div>
      <button type="submit" class="btn btn-info">Add Quote </button>
  </form>
</div>